@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #006fff;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #0000009f;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.Header,
.Footer {
  width: 100%;
  background-color: #006fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.75rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: grid;
  place-content: center;
}

.Nav {
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.searchForm {
  width: 80%;
  padding: 1rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 36px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.Nav li {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
}
.Nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  transition: 0.3s;
}
.Nav li:hover a,
.Nav li:focus a {
  background-color: #eee;
  letter-spacing: 1px;
  color: #333;
  cursor: pointer;
}
.Home,
.NewPost,
.PostPage,
.About,
.Missing {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}
.post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
.Missing h2,
.About h2,
.NewPost h2,
.post h2 {
  font-size: 2rem;
  font-weight: 500;
}
.newPostForm {
  display: flex;
  flex-direction: column;
}
.newPostForm input[type="text"],
.newPostForm textarea {
  font-family: "Open Sans", sans-serif;
  min-height: 36px;
  font-size: 1.25rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 2px solid #9e9e9e;
  resize: none;
  outline: none;
}
.newPostForm input[type="text"]::placeholder,
.newPostForm textarea::placeholder {
  font-size: 1.25rem;
  letter-spacing: 1px;
}
.newPostForm button {
  margin-top: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #9e9e9e;
  outline: none;
  transition: 0.3s;
}
.newPostForm button:hover {
  background-color: #006fff;
  border-color: #1e1e1e;
  letter-spacing: 1px;
}
.newPostForm label {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}
.Missing p,
.About p {
  font-size: 1.25rem;
}
.post p {
  font-size: 1rem;
}
.Home .post a {
  text-decoration: none;
}
.Home .post a,
.Home .post a:visited {
  color: #000;
}
.post:first-child {
  margin-top: 0;
}
.post:last-child {
  border-bottom: none;
}
.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
.postBody {
  margin: 1rem 0;
}
.Missing p,
.PostPage p,
.NewPost p {
  margin-top: 1rem;
}
.PostPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}
.deleteButton {
  background-color: #1e1e1e;
}
.editButton {
  background-color: #333;
}
.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 12px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover,
  .Nav li:focus,
  .Nav li:hover a,
  .Nav li:focus a {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: 0.5rem 0;
  }

  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newPostForm textarea {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .Header svg {
    font-size: 3rem;
  }
}
